
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.todo__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.todo__card {
  border: 1px solid #ccc;
  border-radius: 1rem;
  padding: .25rem 1rem;
}

.skeleton__todo_card {
  height: 4rem;
  border: 1px solid #ccc;
  background-color: #a4a4a4;
  border-radius: 1rem;
  padding: .25rem 1rem;
  animation: skeleton .75s linear infinite alternate;
  margin-top: 1rem;
}

.todo__card label {
  padding: 1rem .5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.todo__title {
  display: flex;
  align-items: center;
  gap: .5rem;
  justify-content: space-between;
}

.todo__title__actions {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.todo__title__wrapper {
  display: flex;
  align-items: center;
}

.edit__title_btn {
  font-size: .5rem;
  border: 1px solid #ccc;
  border-radius: .5rem;
  padding: .5rem;
  cursor: pointer;

  &:hover {
    background-color: #ccc;
  }
}


.add_todo_form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .5rem;
}