
.primary{
  background-color: #2982d9;
  color: #fff;
  padding: .5rem 1rem;
  cursor: pointer;
}

.outline{
  background-color: #fff;
  color: #2982d9;
  border: 1px solid #2982d9;
  padding: .5rem 1rem;
  cursor: pointer;
}